root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.jenkinsfile]
indent_size = 4

[Vagrantfile,*.rb,*.tf]
indent_size = 2
