name: Build Live images

on:
  workflow_dispatch:
    inputs:

      GNOME:
        description: 'GNOME'
        required: true
        type: boolean
        default: true

      GNOME-Mini:
        description: 'GNOME-Mini'
        required: true
        type: boolean
        default: true

      KDE:
        description: 'KDE'
        required: true
        type: boolean
        default: true

      MATE:
        description: 'MATE'
        required: true
        type: boolean
        default: true

      XFCE:
        description: 'XFCE'
        required: true
        type: boolean
        default: true

      version_major:
        description: 'AlmaLinux major version'
        required: true
        default: '10'
        type: choice
        options:
          - 10-kitten
          - 10
          - 9
          - 8

      iteration:
        description: 'Kitten 10 build iteration'
        required: true
        default: '0'

      store_as_artifact:
        description: "Store ISO to the workflow Artifacts"
        required: true
        type: boolean
        default: false

      upload_to_s3:
        description: "Upload to S3 Bucket"
        required: true
        type: boolean
        default: true

      notify_mattermost:
        description: "Send notification to Mattermost"
        required: true
        type: boolean
        default: false

jobs:
  init-data:
    name: Initialize common data
    runs-on: ubuntu-24.04
    outputs:
      time_stamp: ${{ steps.time-stamp.outputs.time_stamp }}
    steps:
      - name: Date+time stamp
        id: time-stamp
        run: |
          # date+time stamp, YYYYMMDDhhmmss
          time_stamp=$(date -u '+%Y%m%d%H%M%S')
          echo "time_stamp=${time_stamp}" >> $GITHUB_OUTPUT

  build:
    name: ${{ matrix.version }} ${{ matrix.arch }} ${{ matrix.image_type }}
    needs: [init-data]
    runs-on: runs-on=${{github.run_id}}/runner=cpu-32/image=almalinux-${{ matrix.version }}-${{ matrix.arch == 'x86_64_v2' && 'x86_64' || matrix.arch }}/extras=tmpfs
    strategy:
      fail-fast: false
      matrix:
        # Set image types matrix based on boolean inputs.* with true value
        image_type: ${{ fromJSON(format('["{0}", "{1}", "{2}", "{3}", "{4}"]', ( inputs.GNOME && 'GNOME' ), ( inputs.GNOME-Mini && 'GNOME-Mini' ), ( inputs.KDE && 'KDE' ), ( inputs.MATE && 'MATE' ), ( inputs.XFCE && 'XFCE' ) )) }}
        version: ${{ fromJSON(format('["{0}"]', inputs.version_major)) }}
        arch: [aarch64, x86_64, x86_64_v2]
        exclude:
          - image_type: 'false'
          - version: 8
            arch: x86_64_v2
          - version: 8
            arch: aarch64
          - version: 9
            arch: x86_64_v2
          - image_type: GNOME-Mini
            version: 10
          - image_type: GNOME-Mini
            version: 10-kitten
          # TODO: the excludes below should be removed when '10-kitten' provides need packages
          - version: 10-kitten
            arch: x86_64_v2
            image_type: MATE
          - version: 10-kitten
            arch: x86_64_v2
            image_type: XFCE
          # TODO: the excludes below should be removed when '10' provides need packages
          - version: 10
            arch: x86_64_v2
            image_type: MATE
          - version: 10
            arch: x86_64_v2
            image_type: XFCE
          # TODO: the excludes below should be removed when EPEL for 10 provides need packages
          - version: 10-kitten
            arch: x86_64
            image_type: MATE
          - version: 10-kitten
            arch: x86_64
            image_type: XFCE
          - version: 10
            arch: x86_64
            image_type: MATE
          - version: 10
            arch: x86_64
            image_type: XFCE
          # TODO: the excludes below should be removed when EPEL for 10 provides need packages
          - version: 10-kitten
            arch: aarch64
            image_type: MATE
          - version: 10-kitten
            arch: aarch64
            image_type: XFCE
          - version: 10
            arch: aarch64
            image_type: MATE
          - version: 10
            arch: aarch64
            image_type: XFCE

    env:
      RUNNER: self-hosted
      TIME_STAMP: ${{ needs.init-data.outputs.time_stamp }}
      RESULT_DIR: /sig-livemedia

    steps:
      - name: Install cloudwatch
        run: |
          sudo dnf install -y https://amazoncloudwatch-agent.s3.amazonaws.com/redhat/${{ matrix.arch == 'aarch64' && 'arm64' || 'amd64' }}/latest/amazon-cloudwatch-agent.rpm

      - uses: runs-on/action@v2
        with:
          show_costs: summary
          metrics: cpu,network,memory,disk,io

      - name: Checkout ${{ github.action_repository }}
        uses: actions/checkout@v4

      - uses: ./.github/actions/shared-steps
        name: ${{ matrix.version }} ${{ matrix.arch }} ${{ matrix.image_type }}
        with:
          image_type: ${{ matrix.image_type }}
          version_major: ${{ inputs.version_major }}
          arch: ${{ matrix.arch }}
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_S3_BUCKET: ${{ vars.AWS_S3_BUCKET }}
          MATTERMOST_WEBHOOK_URL: ${{ secrets.MATTERMOST_WEBHOOK_URL }}
          MATTERMOST_CHANNEL: ${{ vars.MATTERMOST_CHANNEL }}
          iteration: ${{ inputs.iteration }}
          store_as_artifact: ${{ inputs.store_as_artifact }}
          upload_to_s3: ${{ inputs.upload_to_s3 }}
          notify_mattermost: ${{ inputs.notify_mattermost }}

